In [1]:
import pandas as pd
import numpy as np

In [76]:
df = pd.read_csv('survey_results_public.csv')

In [77]:
df.head(5)

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89184 entries, 0 to 89183
Data columns (total 84 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ResponseId                           89184 non-null  int64
 1   Q120                                 89184 non-null  object
 2   MainBranch                           89184 non-null  object
 3   Age                                  89184 non-null  object
 4   Employment                           87898 non-null  object
 5   RemoteWork                           73810 non-null  object
 6   CodingActivities                     73764 non-null  object
 7   EdLevel                              87973 non-null  object
 8   LearnCode                            87663 non-null  object
 9   LearnCodeOnline                      70084 non-null  object
 10  LearnCodeCoursesCert                 37076 non-null  object
 11  YearsCode                            87435 non-null  object
 12  YearsCodePro                         66136 non-null  object
 13  DevType                              76872 non-null  object
 14  OrgSize                              65043 non-null  object
 15  PurchaseInfluence                    64964 non-null  object
 16  TechList                             60851 non-null  object
 17  BuyNewTool                           83009 non-null  object
 18  Country                              87973 non-null  object
 19  Currency                             65334 non-null  object
 20  CompTotal                            48225 non-null  float64
 21  LanguageHaveWorkedWith               87140 non-null  object
 22  LanguageWantToWorkWith               80709 non-null  object
 23  DatabaseHaveWorkedWith               73435 non-null  object
 24  DatabaseWantToWorkWith               60911 non-null  object
 25  PlatformHaveWorkedWith               63628 non-null  object
 26  PlatformWantToWorkWith               51308 non-null  object
 27  WebframeHaveWorkedWith               66938 non-null  object
 28  WebframeWantToWorkWith               56741 non-null  object
 29  MiscTechHaveWorkedWith               57019 non-null  object
 30  MiscTechWantToWorkWith               46848 non-null  object
 31  ToolsTechHaveWorkedWith              77884 non-null  object
 32  ToolsTechWantToWorkWith              68315 non-null  object
 33  NEWCollabToolsHaveWorkedWith         85864 non-null  object
 34  NEWCollabToolsWantToWorkWith         76649 non-null  object
 35  OpSysPersonal use                    86557 non-null  object
 36  OpSysProfessional use                78587 non-null  object
 37  OfficeStackAsyncHaveWorkedWith       69090 non-null  object
 38  OfficeStackAsyncWantToWorkWith       53743 non-null  object
 39  OfficeStackSyncHaveWorkedWith        83439 non-null  object
 40  OfficeStackSyncWantToWorkWith        69776 non-null  object
 41  AISearchHaveWorkedWith               56328 non-null  object
 42  AISearchWantToWorkWith               46150 non-null  object
 43  AIDevHaveWorkedWith                  25904 non-null  object
 44  AIDevWantToWorkWith                  19587 non-null  object
 45  NEWSOSites                           87973 non-null  object
 46  SOVisitFreq                          87140 non-null  object
 47  SOAccount                            87852 non-null  object
 48  SOPartFreq                           66061 non-null  object
 49  SOComm                               87692 non-null  object
 50  SOAI                                 47858 non-null  object
 51  AISelect                             87973 non-null  object
 52  AISent                               61501 non-null  object
 53  AIAcc                                38594 non-null  object
 54  AIBen                                61396 non-null  object
 55  AIToolInterested in Using            32783 non-null  object
 56  AIToolCurrently Using                36137 non-null  object
 57  AIToolNot interested in Using        21069 non-null  object
 58  AINextVery different                 12661 non-null  object
 59  AINextNeither different nor similar  6599 non-null   object
 60  AINextSomewhat similar               6238 non-null   object
 61  AINextVery similar                   2621 non-null   object
 62  AINextSomewhat different             23303 non-null  object
 63  TBranch                              65768 non-null  object
 64  ICorPM                               43668 non-null  object
 65  WorkExp                              43579 non-null  float64
 66  Knowledge_1                          42535 non-null  object
 67  Knowledge_2                          41670 non-null  object
 68  Knowledge_3                          41798 non-null  object
 69  Knowledge_4                          41684 non-null  object
 70  Knowledge_5                          41527 non-null  object
 71  Knowledge_6                          41520 non-null  object
 72  Knowledge_7                          41467 non-null  object
 73  Knowledge_8                          41404 non-null  object
 74  Frequency_1                          41916 non-null  object
 75  Frequency_2                          41925 non-null  object
 76  Frequency_3                          41054 non-null  object
 77  TimeSearching                        42778 non-null  object
 78  TimeAnswering                        42629 non-null  object
 79  ProfessionalTech                     41783 non-null  object
 80  Industry                             36774 non-null  object
 81  SurveyLength                         86485 non-null  object
 82  SurveyEase                           86554 non-null  object
 83  ConvertedCompYearly                  48019 non-null  float64
dtypes: float64(3), int64(1), object(80)
memory usage: 57.2+ MB

In [79]:
df.count()

ResponseId             89184
Q120                   89184
MainBranch             89184
Age                    89184
Employment             87898
                       ...
ProfessionalTech       41783
Industry               36774
SurveyLength           86485
SurveyEase             86554
ConvertedCompYearly    48019
Length: 84, dtype: int64

###### 1. MainBranch

In [80]:
df['MainBranch'].unique()

array(['None of these', 'I am a developer by profession',
       'I am not primarily a developer, but I write code sometimes as part of my work/studies',
       'I code primarily as a hobby', 'I am learning to code',
       'I used to be a developer by profession, but no longer am'],
      dtype=object)

In [81]:
df['MainBranch'].replace({
    'None of these': 'others',
    'I am a developer by profession':'Professional coder',
    'I am not primarily a developer, but I write code sometimes as part of my work/studies':'Partial coder',
    'I code primarily as a hobby':'Hobbyist',
    'I am learning to code':'Learning',
    'I used to be a developer by profession, but no longer am':'Former coder'
}, inplace=True)

In [82]:
df = df[df['MainBranch'] != 'others']

In [83]:
df['MainBranch'].unique()

array(['Professional coder', 'Partial coder', 'Hobbyist', 'Learning',
       'Former coder'], dtype=object)

In [84]:
df['MainBranch'].value_counts()

MainBranch
Professional coder    67237
Partial coder          8954
Learning               4961
Hobbyist               4960
Former coder           1861
Name: count, dtype: int64

In [85]:
df['MainBranch'].isna().sum()

0

###### 2. Age

In [86]:
df['Age'].replace({
    '18-24 years old':'18-24',
    '25-34 years old':'25-34',
    '45-54 years old':'45-54',
    '35-44 years old':'35-44',
    'Under 18 years old':'under 18',
    '55-64 years old':'55-64',
    '65 years or older':'above 65',
}, inplace=True)

In [87]:
df['Age'].unique()

array(['25-34', '45-54', '35-44', 'under 18', '55-64', '18-24',
       'above 65', 'Prefer not to say'], dtype=object)

In [88]:
df['Age'].count()

87973

In [89]:
df['Age'].value_counts()

Age
25-34                32963
35-44                20314
18-24                17672
45-54                 8209
under 18              4029
55-64                 3327
above 65              1130
Prefer not to say      329
Name: count, dtype: int64

In [90]:
df['Age'].isna().sum()

0

###### 3. Employment

In [91]:
df['Employment'].unique()

array(['Employed, full-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed',
       'Not employed, but looking for work',
       'Independent contractor, freelancer, or self-employed',
       'Student, full-time',
       'Independent contractor, freelancer, or self-employed;Employed, part-time;Student, part-time',
       'Not employed, but looking for work;Student, full-time',
       'Employed, part-time;Student, part-time', 'Employed, part-time',
       'Student, full-time;Employed, part-time', 'I prefer not to say',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time',
       'Employed, full-time;Student, part-time',
       'Not employed, but looking for work;Employed, part-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time',
       'Retired', 'Employed, full-time;Student, full-time',
       'Student, full-time;Student, part-time',
       'Independent contractor, freelancer, or self-employed;Student, full-time',
       'Not employed, and not looking for work', 'Student, part-time',
       'Student, full-time;Not employed, and not looking for work',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, but looking for work',
       'Employed, full-time;Employed, part-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Not employed, and not looking for work',
       'Independent contractor, freelancer, or self-employed;Student, part-time',
       'Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Student, part-time',
       nan,
       'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work',
       'Student, full-time;Employed, part-time;Not employed, and not looking for work',
       'Not employed, but looking for work;Student, part-time',
       'Independent contractor, freelancer, or self-employed;Not employed, but looking for work',
       'Independent contractor, freelancer, or self-employed;Student, full-time;Employed, part-time',
       'Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Student, full-time',
       'Independent contractor, freelancer, or self-employed;Employed, part-time',
       'Employed, full-time;Employed, part-time;Student, part-time',
       'Not employed, but looking for work;Student, full-time;Student, part-time',
       'Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Employed, part-time',
       'Student, part-time;Not employed, and not looking for work',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Student, full-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Student, part-time',
       'Independent contractor, freelancer, or self-employed;Employed, part-time;Retired',
       'Not employed, but looking for work;Not employed, and not looking for work',
       'Retired;Not employed, and not looking for work',
       'Independent contractor, freelancer, or self-employed;Retired',
       'Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Not employed, and not looking for work',
       'Employed, full-time;Student, full-time;Employed, part-time',
       'Independent contractor, freelancer, or self-employed;Student, full-time;Not employed, and not looking for work',
       'Employed, full-time;Not employed, but looking for work',
       'Not employed, but looking for work;Employed, part-time;Student, part-time',
       'Student, full-time;Employed, part-time;Student, part-time',
       'Independent contractor, freelancer, or self-employed;Student, part-time;Not employed, and not looking for work',
       'Independent contractor, freelancer, or self-employed;Student, full-time;Employed, part-time;Student, part-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Student, full-time;Retired',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Student, full-time;Employed, part-time;Student, part-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Student, full-time;Student, part-time',
       'Employed, full-time;Not employed, and not looking for work',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Student, full-time;Employed, part-time;Student, part-time',
       'Not employed, but looking for work;Student, full-time;Not employed, and not looking for work',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Employed, part-time',
       'Employed, full-time;Not employed, but looking for work;Student, full-time;Student, part-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Student, full-time;Employed, part-time',
       'Not employed, but looking for work;Student, full-time;Employed, part-time',
       'Employed, full-time;Not employed, but looking for work;Student, part-time',
       'Independent contractor, freelancer, or self-employed;Student, part-time;Retired',
       'Employed, part-time;Student, part-time;Retired',
       'Employed, full-time;Retired', 'Employed, part-time;Retired',
       'Employed, full-time;Not employed, but looking for work;Student, full-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Student, full-time;Employed, part-time;Student, part-time;Not employed, and not looking for work',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work',
       'Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Retired',
       'Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Employed, part-time;Student, part-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Student, full-time;Not employed, and not looking for work',
       'Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Student, full-time;Employed, part-time',
       'Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Employed, part-time;Not employed, and not looking for work',
       'Student, full-time;Retired',
       'Employed, full-time;Student, full-time;Employed, part-time;Student, part-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Retired',
       'Not employed, but looking for work;Student, full-time;Student, part-time;Not employed, and not looking for work',
       'Student, full-time;Student, part-time;Not employed, and not looking for work',
       'Not employed, but looking for work;Retired',
       'Employed, full-time;Student, full-time;Retired',
       'Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Student, part-time;Retired',
       'Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Student, full-time;Not employed, and not looking for work',
       'Independent contractor, freelancer, or self-employed;Retired;Not employed, and not looking for work',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Student, full-time;Student, part-time',
       'Independent contractor, freelancer, or self-employed;Student, full-time;Student, part-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Employed, part-time;Not employed, and not looking for work',
       'Independent contractor, freelancer, or self-employed;Student, full-time;Retired',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Student, full-time;Employed, part-time;Student, part-time;Retired;Not employed, and not looking for work',
       'Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Student, full-time;Student, part-time',
       'Employed, part-time;Not employed, and not looking for work',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Retired',
       'Employed, full-time;Student, part-time;Retired',
       'Employed, full-time;Not employed, but looking for work;Employed, part-time',
       'Not employed, but looking for work;Student, part-time;Not employed, and not looking for work',
       'Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Student, full-time;Student, part-time;Not employed, and not looking for work',
       'Employed, full-time;Student, full-time;Student, part-time',
       'Independent contractor, freelancer, or self-employed;Student, full-time;Employed, part-time;Not employed, and not looking for work',
       'Employed, full-time;Student, full-time;Not employed, and not looking for work',
       'Not employed, but looking for work;Student, full-time;Employed, part-time;Student, part-time',
       'Independent contractor, freelancer, or self-employed;Student, full-time;Student, part-time;Not employed, and not looking for work',
       'Employed, full-time;Student, full-time;Employed, part-time;Student, part-time;Not employed, and not looking for work',
       'Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Employed, part-time;Retired',
       'Employed, full-time;Not employed, but looking for work;Student, full-time;Employed, part-time;Student, part-time',
       'Employed, full-time;Not employed, but looking for work;Employed, part-time;Student, part-time'],
      dtype=object)

In [92]:
df['Employment'].count()

87898

In [93]:
new = df['Employment'].str.split(';', n = 1, expand=True)

In [94]:
new1 = new[0].str.split(',', n = 1, expand=True)

In [95]:
df = df.drop('Employment', axis = 1)

In [96]:
df['Employment'] = new1[0]

In [97]:
df['Employment'].count()

87898

In [98]:
df['Employment'].unique()

array(['Employed', 'Not employed', 'Independent contractor', 'Student',
       'I prefer not to say', 'Retired', nan], dtype=object)

In [99]:
df = df.dropna(subset = 'Employment')

In [100]:
df['Employment'].unique()

array(['Employed', 'Not employed', 'Independent contractor', 'Student',
       'I prefer not to say', 'Retired'], dtype=object)

In [101]:
df['Employment'].value_counts()

Employment
Employed                  63263
Student                    9968
Independent contractor     9137
Not employed               4387
Retired                     594
I prefer not to say         549
Name: count, dtype: int64

###### 4. years code

In [102]:
df['YearsCode'].dtypes

dtype('O')

In [103]:
df['YearsCode'].unique()

array(['18', '27', '12', '6', '21', '4', '5', '20', '14', '10', '15',
       '11', '3', '24', '8', '13', 'Less than 1 year', '16', '33', '22',
       '30', '32', '7', '35', '28', '40', '17', nan, '29', '19',
       'More than 50 years', '9', '38', '26', '34', '25', '2', '45', '23',
       '31', '43', '1', '48', '41', '50', '39', '42', '37', '36', '44',
       '46', '49', '47'], dtype=object)

In [104]:
df["YearsCode"].replace({
    'Less than 1 year':0,
    'More than 50 years': 50
}, inplace = True)

In [105]:
df['YearsCode'].count()

87375

In [106]:
df[['Employment', 'YearsCode']].count()

Employment    87898
YearsCode     87375
dtype: int64

In [107]:
df['YearsCode'].isna().sum()

523

In [108]:
df['YearsCode'] = pd.to_numeric(df['YearsCode'], errors='coerce')

In [109]:
student_mean = df[df['Employment'] == 'Student']['YearsCode'].mean()
df.loc[df['Employment'] == 'Student', 'YearsCode'] = df.loc[df['Employment'] == 'Student', 'YearsCode'].fillna(student_mean)

In [110]:
employed_mean = df[df['Employment'] == 'Employed']['YearsCode'].mean()
df.loc[df['Employment'] == 'Employed', 'YearsCode'] = df.loc[df['Employment'] == 'Employed', 'YearsCode'].fillna(employed_mean)

In [111]:
freelancer_mean = df[df['Employment'] == 'Independent contractor']['YearsCode'].mean()
df.loc[df['Employment'] == 'Independent contractor', 'YearsCode'] = df.loc[df['Employment'] == 'Independent contractor', 'YearsCode'].fillna(freelancer_mean)

In [112]:
unemployed_mean = df[df['Employment'] == 'Not employed']['YearsCode'].mean()
df.loc[df['Employment'] == 'Not employed', 'YearsCode'] = df.loc[df['Employment'] == 'Not employed', 'YearsCode'].fillna(unemployed_mean)

In [113]:
retired_mean = df[df['Employment'] == 'Retired']['YearsCode'].mean()
df.loc[df['Employment'] == 'Retired', 'YearsCode'] = df.loc[df['Employment'] == 'Retired', 'YearsCode'].fillna(retired_mean)

In [114]:
notSaid_mean = df[df['Employment'] == 'I prefer not to say']['YearsCode'].mean()
df.loc[df['Employment'] == 'I prefer not to say', 'YearsCode'] = df.loc[df['Employment'] == 'I prefer not to say', 'YearsCode'].fillna(notSaid_mean)

In [115]:
df['YearsCode'] = pd.to_numeric(df['YearsCode']).astype('int64')

In [116]:
df['YearsCode'].isna().sum()

0

###### 4. remoteWork

In [117]:
df['RemoteWork'].unique()

array(['Remote', 'Hybrid (some remote, some in-person)', nan, 'In-person'],
      dtype=object)

In [118]:
df['RemoteWork'].replace({
    'Hybrid (some remote, some in-person)' : 'Hybrid'
}, inplace = True)

In [119]:
df['RemoteWork'].value_counts()

RemoteWork
Hybrid       31131
Remote       30566
In-person    12113
Name: count, dtype: int64

In [120]:
df[['RemoteWork']].isna().sum()

RemoteWork    14088
dtype: int64

In [121]:
df.loc[df['Employment'] == 'Independent contractor', 'RemoteWork'] = df.loc[df['Employment'] == 'Independent contractor', 'RemoteWork'].fillna('Hybrid')

In [122]:
df['RemoteWork'].fillna('Not Applicable', inplace = True)

In [123]:
df['RemoteWork'].unique()

array(['Remote', 'Hybrid', 'Not Applicable', 'In-person'], dtype=object)

In [124]:
df['RemoteWork'].value_counts()

RemoteWork
Hybrid            31150
Remote            30566
Not Applicable    14069
In-person         12113
Name: count, dtype: int64

In [125]:
df[['RemoteWork']].isna().sum()

RemoteWork    0
dtype: int64

###### 5. EdLevel

In [126]:
df['EdLevel'].unique()

array(['Bachelor’s degree (B.A., B.S., B.Eng., etc.)',
       'Some college/university study without earning a degree',
       'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)',
       'Primary/elementary school',
       'Professional degree (JD, MD, Ph.D, Ed.D, etc.)',
       'Associate degree (A.A., A.S., etc.)',
       'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',
       'Something else'], dtype=object)

In [127]:
df['EdLevel'].replace({
    "Bachelor’s degree (B.A., B.S., B.Eng., etc.)":"Bachelor’s degree",
    "Some college/university study without earning a degree":'Without degree',
    "Master’s degree (M.A., M.S., M.Eng., MBA, etc.)":"Master’s degree",
    "Professional degree (JD, MD, Ph.D, Ed.D, etc.)":"Professional degree",
    "Associate degree (A.A., A.S., etc.)":"Associate degree",
    "Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)":"Secondary school"
}, inplace=True)

In [128]:
df['EdLevel'].value_counts()

EdLevel
Bachelor’s degree            36689
Master’s degree              20536
Without degree               11748
Secondary school              8871
Professional degree           3883
Associate degree              2805
Primary/elementary school     1900
Something else                1466
Name: count, dtype: int64

In [129]:
df['EdLevel'].count()

87898

###### 6. AI select

In [130]:
df['AISelect'].unique()

array(['Yes', "No, and I don't plan to", 'No, but I plan to soon'],
      dtype=object)

In [131]:
df['AISelect'].replace({
    "No, and I don't plan to":"No",
    "No, but I plan to soon":"Start Soon"
}, inplace = True)

In [132]:
df['AISelect'].unique()

array(['Yes', 'No', 'Start Soon'], dtype=object)

In [133]:
df['AISelect'].value_counts()

AISelect
Yes           39014
No            26204
Start Soon    22680
Name: count, dtype: int64

In [134]:
df['AISelect'].isna().sum()

0

###### 7. Devtype

In [135]:
df['DevType'].unique()

array(['Senior Executive (C-Suite, VP, etc.)', 'Developer, back-end',
       'Developer, front-end', 'Developer, full-stack',
       'System administrator',
       'Developer, desktop or enterprise applications',
       'Developer, QA or test', 'Designer',
       'Data scientist or machine learning specialist',
       'Data or business analyst', 'Security professional', 'Educator',
       'Research & Development role', nan, 'Other (please specify):',
       'Developer, mobile', 'Database administrator',
       'Developer, embedded applications or devices', 'Student',
       'Engineer, data', 'Hardware Engineer', 'Product manager',
       'Academic researcher', 'Developer, game or graphics',
       'Cloud infrastructure engineer', 'Engineering manager',
       'Developer Experience', 'Project manager', 'DevOps specialist',
       'Engineer, site reliability', 'Blockchain', 'Developer Advocate',
       'Scientist', 'Marketing or sales professional'], dtype=object)

In [136]:
df['DevType'].isna().sum()

11026

In [137]:
df['DevType'].fillna('Other (please specify):', inplace = True)

In [138]:
df['DevType'].value_counts()

DevType
Developer, full-stack                            25735
Other (please specify):                          14106
Developer, back-end                              13745
Developer, front-end                              5071
Developer, desktop or enterprise applications     3904
Developer, mobile                                 2597
Engineering manager                               2033
Student                                           1996
Developer, embedded applications or devices       1845
Data scientist or machine learning specialist     1588
DevOps specialist                                 1387
Academic researcher                               1354
Research & Development role                       1353
Senior Executive (C-Suite, VP, etc.)              1332
Engineer, data                                    1248
Cloud infrastructure engineer                     1036
Developer, game or graphics                        866
Data or business analyst                           837
System administrator                               743
Project manager                                    589
Developer, QA or test                              586
Security professional                              474
Product manager                                    446
Engineer, site reliability                         427
Educator                                           415
Scientist                                          351
Developer Experience                               326
Blockchain                                         323
Hardware Engineer                                  286
Designer                                           281
Database administrator                             257
Developer Advocate                                 212
Marketing or sales professional                    149
Name: count, dtype: int64

In [139]:
df['DevType'].replace({'Other (please specify):':'Others'}, inplace = True)

In [140]:
df['DevType'].unique()

array(['Senior Executive (C-Suite, VP, etc.)', 'Developer, back-end',
       'Developer, front-end', 'Developer, full-stack',
       'System administrator',
       'Developer, desktop or enterprise applications',
       'Developer, QA or test', 'Designer',
       'Data scientist or machine learning specialist',
       'Data or business analyst', 'Security professional', 'Educator',
       'Research & Development role', 'Others', 'Developer, mobile',
       'Database administrator',
       'Developer, embedded applications or devices', 'Student',
       'Engineer, data', 'Hardware Engineer', 'Product manager',
       'Academic researcher', 'Developer, game or graphics',
       'Cloud infrastructure engineer', 'Engineering manager',
       'Developer Experience', 'Project manager', 'DevOps specialist',
       'Engineer, site reliability', 'Blockchain', 'Developer Advocate',
       'Scientist', 'Marketing or sales professional'], dtype=object)


#### extracting the required data

In [141]:
required_data = df[['ResponseId', 'MainBranch', 'Age', 'Employment', 'RemoteWork', 'EdLevel', 'YearsCode', 'DevType', 'Country', 'AISelect']]

In [142]:
required_data.count()

ResponseId    87898
MainBranch    87898
Age           87898
Employment    87898
RemoteWork    87898
EdLevel       87898
YearsCode     87898
DevType       87898
Country       87898
AISelect      87898
dtype: int64

In [143]:
required_data.dtypes

ResponseId     int64
MainBranch    object
Age           object
Employment    object
RemoteWork    object
EdLevel       object
YearsCode      int64
DevType       object
Country       object
AISelect      object
dtype: object

In [144]:
required_data.to_csv('required_data.csv')