In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('survey_results_public.csv')

In [3]:
required_data = pd.read_csv("required_data.csv")

In [4]:
df['ToolsTechHaveWorkedWith'] = df['ToolsTechHaveWorkedWith'].str.split(';')
df['ToolsTechWantToWorkWith'] = df['ToolsTechWantToWorkWith'].str.split(';')

In [5]:
df[['ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith']].head(5)

,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith
0,NaN,NaN
1,"[Docker, Kubernetes, npm, Pip, Vite, Webpack, ...","[Godot, npm, pnpm, Unity 3D, Unreal Engine, Vi..."
2,"[Cargo, Docker, Kubernetes, Make, Nix]","[Cargo, Kubernetes, Nix]"
3,"[Homebrew, npm, Vite, Webpack, Yarn]","[Homebrew, npm, Vite]"
4,"[Docker, npm, Webpack, Yarn]","[Docker, npm, Yarn]"

In [6]:
TechToolDf = df[['ResponseId', 'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith']]

In [7]:
TechToolDf = required_data.merge(TechToolDf, how='left', on='ResponseId')

In [8]:
ToolWorkedWithDf = df[['ResponseId', 'ToolsTechHaveWorkedWith']]

In [9]:
ToolWorkedWithDf = ToolWorkedWithDf.explode('ToolsTechHaveWorkedWith')

In [10]:
Tool_count = ToolWorkedWithDf['ToolsTechHaveWorkedWith'].value_counts()

In [11]:
Tool_count.head()

ToolsTechHaveWorkedWith
Docker      41369
npm         39609
Pip         23281
Homebrew    17647
Yarn        17545
Name: count, dtype: int64

In [12]:
ToolWorkedWithDf['ToolsTechHaveWorkedWith'].unique()

array([nan, 'Docker', 'Kubernetes', 'npm', 'Pip', 'Vite', 'Webpack',
       'Yarn', 'Cargo', 'Make', 'Nix', 'Homebrew', 'pnpm', 'Terraform',
       'Bun', 'Chocolatey', 'Maven (build tool)', 'Ansible', 'MSBuild',
       'NuGet', 'Visual Studio Solution', 'Gradle', 'Chef', 'CMake',
       'GNU GCC', 'Ant', 'Wasmer', 'Boost.Test', 'Podman', 'APT',
       "LLVM's Clang", 'Composer', 'bandit', 'doctest', 'MSVC',
       'Unity 3D', 'Dagger', 'Unreal Engine', 'cppunit', 'Google Test',
       'Pacman', 'Godot', 'Ninja', 'Meson', 'QMake', 'Catch2', 'Puppet',
       'build2', 'Pulumi', 'SCons', 'tunit', 'ELFspy', 'lest', 'CUTE',
       'snitch', 'liblittletest'], dtype=object)

In [13]:
result = ToolWorkedWithDf.merge(required_data, how='left', on='ResponseId')

In [14]:
employedToolUse_count = result[result['Employment'] == 'Employed'].groupby(by='ToolsTechHaveWorkedWith', as_index=False, sort=False)['ResponseId'].count()
employedToolUse_count.nlargest(10, 'ResponseId')

   ToolsTechHaveWorkedWith  ResponseId
0                   Docker       32735
2                      npm       28675
3                      Pip       15680
10                Homebrew       13970
6                     Yarn       13211
1               Kubernetes       13152
5                  Webpack       12766
8                     Make       11405
18                   NuGet        9926
15      Maven (build tool)        9240

In [15]:
studentToolUse_count = result[result['Employment'] == 'Student'].groupby(by='ToolsTechHaveWorkedWith', as_index=False, sort=False)['ResponseId'].count()
studentToolUse_count.nlargest(10, 'ResponseId')

   ToolsTechHaveWorkedWith  ResponseId
1                      npm        4321
7                      Pip        3915
0                   Docker        3058
6                  GNU GCC        2495
12                   Cargo        2303
13                   CMake        2298
11                    Make        2272
23                    Vite        1685
17                  Gradle        1554
3                 Unity 3D        1488

In [16]:
ToolInDev = result[result['DevType'] == 'Data or business analyst'].groupby(by='ToolsTechHaveWorkedWith', as_index=False, sort=False)['ResponseId'].count()
ToolInDev.nlargest(10, 'ResponseId')

   ToolsTechHaveWorkedWith  ResponseId
4                      Pip         230
0                   Docker         184
2                      npm         143
11  Visual Studio Solution         103
14                Homebrew          69
7                     Make          55
13                   Cargo          53
9               Kubernetes          49
8                  GNU GCC          47
21                    Yarn          43

In [17]:
ToolWantToWorkDF = TechToolDf[['ResponseId', 'ToolsTechWantToWorkWith']]

In [18]:
ToolWantToWorkDF = ToolWantToWorkDF.explode('ToolsTechWantToWorkWith')

In [19]:
ToolWantToWorkDF['ToolsTechWantToWorkWith'] = ToolWantToWorkDF['ToolsTechWantToWorkWith'].str.replace("r\[\]", "", regex=True)

In [20]:
desireTool_count = ToolWantToWorkDF['ToolsTechWantToWorkWith'].value_counts()

In [21]:
desireTool_count.head()

ToolsTechWantToWorkWith
Docker        36724
npm           24482
Kubernetes    19415
Pip           14452
Vite          12779
Name: count, dtype: int64

In [22]:
result1 = ToolWantToWorkDF.merge(required_data, how='left', on='ResponseId')

In [23]:
employedTooldesire_count = result1[result1['Employment'] == 'Employed'].groupby(by='ToolsTechWantToWorkWith', as_index=False, sort=False)['ResponseId'].count()
employedTooldesire_count.nlargest(10, 'ResponseId')

   ToolsTechWantToWorkWith  ResponseId
12                  Docker       28325
1                      npm       17549
9               Kubernetes       15797
11                Homebrew        9632
25                     Pip        9497
15               Terraform        8737
5                     Vite        8645
7                     Yarn        8068
8                    Cargo        7745
14                    Make        6903

In [24]:
studentTooldesire_count = result1[result1['Employment'] == 'Student'].groupby(by='ToolsTechWantToWorkWith', as_index=False, sort=False)['ResponseId'].count()
studentTooldesire_count.nlargest(10, 'ResponseId')

   ToolsTechWantToWorkWith  ResponseId
0                   Docker        3213
1                      npm        2718
7                      Pip        2605
13                   Cargo        2449
6                  GNU GCC        1815
14                    Vite        1646
12                    Make        1512
19                   CMake        1371
8               Kubernetes        1217
3                 Unity 3D        1210

In [25]:
ToolWorkedWithDf = ToolWorkedWithDf.dropna()

In [26]:
ToolWorkedWithDf.to_csv('TechToolHaveWorkedWith.csv')

In [27]:
TechToolDf = df[['ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith', 'ResponseId']]

In [28]:
TechToolDf = required_data.merge(TechToolDf, how='left', on='ResponseId')

In [29]:
TechToolDf = TechToolDf.dropna()

In [31]:
def process_tool(row):
    list1 = row['ToolsTechHaveWorkedWith']
    list2 = row['ToolsTechWantToWorkWith']
    list3 = set(list1) & set(list2)
    return list(list3)

TechToolDf['continueTool'] = TechToolDf.apply(process_tool, axis=1)

In [32]:
def process_tool(row):
    list1 = row['ToolsTechHaveWorkedWith']
    list2 = row['ToolsTechWantToWorkWith']
    list3 = set(list2) - set(list1)
    return list(list3)

TechToolDf['newTool'] = TechToolDf.apply(process_tool, axis=1)

In [33]:
TechToolDf.head()

,Unnamed: 0,ResponseId,MainBranch,Age,Employment,RemoteWork,EdLevel,YearsCode,DevType,Country,AISelect,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,continueTool,newTool
0,1,2,Professional coder,25-34,Employed,Remote,Bachelor’s degree,18,"Senior Executive (C-Suite, VP, etc.)",United States of America,Yes,"[Docker, Kubernetes, npm, Pip, Vite, Webpack, ...","[Godot, npm, pnpm, Unity 3D, Unreal Engine, Vi...","[Yarn, Webpack, npm, Vite]","[Unity 3D, Godot, Unreal Engine, pnpm]"
1,2,3,Professional coder,45-54,Employed,Hybrid,Bachelor’s degree,27,"Developer, back-end",United States of America,No,"[Cargo, Docker, Kubernetes, Make, Nix]","[Cargo, Kubernetes, Nix]","[Cargo, Nix, Kubernetes]",[]
2,3,4,Professional coder,25-34,Employed,Hybrid,Bachelor’s degree,12,"Developer, front-end",United States of America,No,"[Homebrew, npm, Vite, Webpack, Yarn]","[Homebrew, npm, Vite]","[Homebrew, npm, Vite]",[]
3,4,5,Professional coder,25-34,Employed,Remote,Bachelor’s degree,6,"Developer, full-stack",Philippines,Yes,"[Docker, npm, Webpack, Yarn]","[Docker, npm, Yarn]","[Yarn, Docker, npm]",[]
4,5,6,Professional coder,35-44,Employed,Remote,Without degree,21,"Developer, back-end",United Kingdom of Great Britain and Northern I...,Yes,"[Docker, Homebrew, Kubernetes, npm, pnpm, Terr...",[Cargo],[],[Cargo]

In [35]:
toolUse = TechToolDf[['continueTool', 'ResponseId']]
toolUse = toolUse.explode('continueTool')

In [36]:
toolUse = toolUse.groupby(by='continueTool', as_index=False)['ResponseId'].count()

In [37]:
desireTool = TechToolDf[['newTool', 'ResponseId']]
desireTool = desireTool.explode('newTool')

In [38]:
desireTool = desireTool.groupby(by='newTool', as_index=False)['ResponseId'].count()

In [39]:
TechToolTable = toolUse.merge(desireTool, how='inner', left_on='continueTool', right_on='newTool')

In [45]:
TechToolTable = TechToolTable[['continueTool', 'ResponseId_x', 'ResponseId_y']]
TechToolTable.rename(columns={
    'continueTool':'TechTools',
    'ResponseId_x':'currentlyUsed',
    'ResponseId_y':'desiredToUse'
},inplace = True)

KeyError: "None of [Index(['continueTool', 'ResponseId_x', 'ResponseId_y'], dtype='object')] are in the [columns]"

In [41]:
TechToolTable.to_csv('TechToolTable.csv')